body {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            background: #e0f0ff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            text-align: center;
            width: 800px;
        }
        .header {
            background: #4a90e2;
            color: white;
            padding: 10px;
            font-size: 24px;
            font-weight: bold;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .sections {
            display: flex;
            justify-content: space-between;
        }
        .section {
            background: #f8caca;
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
            flex: 1;
            margin: 5px;
        }
        input, select, button {
            margin-top: 5px;
            padding: 5px;
            width: 90%;
        }
        .ticket img {
            width: 100px;
        }
        .ticket-container {
            text-align: center;
        }
        .footer {
            margin-top: 10px;
            font-size: 12px;
        }